<%= form_for :conversation, url: topic_conversations_path(@topic) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit "Create New Post" %>
  </div>
<% end %>
