<div class="new-message-link">
  <% if log_in? %>
    <%= link_to new_conversation_message_path(@conversation), remote: true do %>
    <button>New Message</button>
    <% end %>
  <% end %>
</div>
<div class="empty">
</div>
<div class="message-list">
  <% @conversation.messages.each do |message| %>
  <p><%=message.content %></p>
  <% end %>
</div>
