<h1><%= @conversation.name %></h1>

<h2>There are <%= @conversation.messages.count %> messages</h2>

<ul>
  <% @conversation.messages.each do |message| %>
    <li><%= message.content %></li>
  <% end %>
</ul>
