<div class="message-list">
  <% if log_in? %>
    <%= link_to "New", "/conversations/#{@conversation.id}/messages/new" %>
  <% end %>
  <% @conversation.messages.each do |message| %>
  <p><%=message.content %></p>
  <% end %>
</div>
