<h1>RBulletin Topics</h1>
<div>
<ul>
  <% @topics.each do |topic| %>
    <li><%= topic.name %></li>
    <ol>
    <% topic.conversations.each do |convo| %>
      <li><%= link_to "#{convo.name}", topic_conversation_path(topic, convo) %></li>
    <% end %>
    </ol><br>
    <% if logged_in? %>
    <%= button_to "Create New Conversation",new_topic_conversation_path(topic.id), method: :get %>
  <% end %><br>
  <% end %>
</ul>
</div>
