<h1></h1>
<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
    <ol>
    <% category.topics.each do |topic| %>
      <li><%= link_to "#{topic.name}", category_topic_path(category.id, topic) %></li>
    <% end %>
    </ol>
  <% end %>
</ul>
